<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <title>Accueil</title>
</head>
<body>
<!-- En-tête -->
<header>
  <h1>Logo</h1>
  <h2>Nom du site</h2>
  <!-- Infos utilisateur connecté -->
  <div>
    <span>th:text="'Bonjour, ' + ${utilisateur}"</span>
    <a href="/logout.html">Déconnexion</a>
    <a href="/panier.html">Panier (0)</a>
    <a href="/commandes.html">Historique des commandes</a>
    <a href="/add-utilisateur.html">Créer un compte</a>
    <a href="/login-utilisateur.html">Se connecter</a>
  </div>
  <!-- Lien de connexion pour utilisateur déconnecté -->
  <div>
    <a href="/login-utilisateur.html">Connexion</a>
  </div>
</header>

<!-- Corps -->
<section>
  <!-- Contenu de la page d'accueil -->
  <h1>Bienvenue sur notre site</h1>
</section>

<!-- Pied de page -->
<footer>
  <p>Infos de contact</p>
  <p>© 2023 Mon Site E-commerce. Tous droits réservés.</p>
</footer>
</body>
</html>
