<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <title>Accueil</title>
</head>
<body>
<!-- En-tête -->
<header>
  <h1>Khaleesi</h1>
  <h2>@Khaleesi</h2>
  
  <!-- Infos utilisateur connecté -->
  <div>
    <!-- <span>th:text="'Bonjour, ' + ${utilisateur}"</span> -->
<!--     <a href="/logout.html">Déconnexion</a>
    <a href="/panier.html">Panier (0)</a>
    <a href="/commandes.html">Historique des commandes</a>
 -->    <a href="/register">Créer un compte</a>
    <a href="/login-utilisateur.html">Se connecter</a>
  </div>
</header>

<!-- Corps -->
<section>
  
  <h1>Bienvenue sur notre site</h1>
  <h3>Bienvenue sur ce site de vente de bijoux </h3>
  <p>Pour acceder au contenu du site veuillez vous connecter ou vous rendre en boutique</p>
  <p>L'adresse de la boutique n'est pas disponible pour le moment (Déménagement des locaux)</p>
  <p>Vous pouvez nous contacter par mail à l'adresse suivante : https://blabla.fr
</section>

<!-- Pied de page -->
<footer>
  <p>Infos de contact</p>
  <p>© 2023 Mon Site E-commerce. Créateurs: Emilie M. & Nasratie R. Tous droits réservés.</p>
</footer>
</body>
</html>
