<!DOCTYPE html>
<html>
<head>
    <!-- En-tête de la page -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <!-- Corps de la page -->
    <h1>Gestion des articles</h1>
    <div class="container">
        <div class="alert alert-success"><center>Soyez la bienvenue  <%=session.getAttribute("prenom") %></center></div>
        <div class="alert alert-success">Vous êtes connecté en tant que <%=session.getAttribute("profil") %></div>
        <center><a href="logout" class="btn btn-primary">Fermer la session</a></center></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Tableau pour afficher les articles existants -->
    <table>
        <thead>
            <tr>
                <th>Nom de l'article</th>
                <th>Description</th>
                <th>Prix unitaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nom de l'article 1</td>
                <td>Description de l'article 1</td>
                <td>10.00 €</td>
                <td>
                    <a href="#">Modifier</a>
                    <a href="#">Supprimer</a>
                </td>
            </tr>
            <!-- ... -->
        </tbody>
    </table>
    <!-- Formulaire pour ajouter un nouvel article -->
    <form action="/gestion" method="post">
        <!-- Champs pour le nom, la description, le prix, etc. de l'article -->
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>